@model ShagunGraminHealth.Models.MembershipForm
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Member" asp-action="ApplyMember" method="post" enctype="multipart/form-data">
    <div class="card card-bordered">
        <div class="card-inner">
            <h5>आवेदन विवरण</h5>
            <div class="row gy-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Application_Id">आवेदन संख्या <span style="color:red">*</span></label>
                        <input asp-for="Application_Id" class="form-control required" value="Model.Application_Id" readonly required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="PlanNumber">योजना संख्या <span style="color:red">*</span></label>
                        <input asp-for="PlanNumber" class="form-control required" readonly value="@ViewBag.PlanNumber" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Reference">Reference <span style="color:red">*</span></label>
                        <input asp-for="Reference" class="form-control required" />
                    </div>
                </div>
            </div>
            <br />
            <h5>व्यक्तिगत विवरण</h5>
            <div class="row gy-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Candidate_Name">लाभार्थी का नाम <span style="color:red">*</span></label>
                        <input asp-for="Candidate_Name" class="form-control required" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Father_Name">पिता/पति का नाम <span style="color:red">*</span></label>
                        <input asp-for="Father_Name" class="form-control required" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label" for="Parmanent_Address">स्थाई पता <span style="color:red">*</span></label>
                        <textarea asp-for="Parmanent_Address" class="form-control required" rows="4"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label" for="Current_Address">वर्तमान पता <span style="color:red">*</span></label>
                        <textarea asp-for="Current_Address" class="form-control required" rows="4"></textarea>
                    </div>
                </div>
              @*  <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Mobile">मोबाइल नंबर <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Mobile" required>
                    </div>
                </div>*@
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">जन्मतिथि <span style="color:red">*</span></label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Date_of_Birth_Days" required placeholder="DD">
                            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Date_of_Birth_Months" required placeholder="MM">
                            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Date_of_Birth_Years" required placeholder="YYYY">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">लिंग <span style="color:red">*</span></label>
                        <select asp-for="Sex" class="form-control">
                            <option value=""></option>
                            <option value="पुरुष">पुरुष</option>
                            <option value="महिला">महिला</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Educational_Level">शैक्षणिक स्तर <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Educational_Level" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Marriage">वैवाहिक स्थिति <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Marriage" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Category">जाति श्रेणी <span style="color:red">*</span></label>
                        <select asp-for="Category" class="form-control">
                            <option value=""></option>
                            <option value="सामान्य">सामान्य</option>
                            <option value="ओ.बी.सी">ओ.बी.सी.</option>
                            <option value="बी.सी">बी.सी</option>
                            <option value="एस.सि.">एस.सि.</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Ration_Card">राशन कार्ड संख्या</label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Ration_Card" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Aadhar_Card">आधार कार्ड संख्या <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Aadhar_Card" required>
                    </div>
                </div>
            </div>
            <br />
            <h5>बैंक विवरण</h5>
            <div class="row gy-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Bank_Account">बैंक खाता संख्या <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Bank_Account" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="IFSC">आई.एफ.एस.सी. कोड <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.IFSC" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label" for="Bank_Name">बैंक का नाम <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Bank_Name" required>
                    </div>
                </div>
            </div>
            <br />
            <div class="container">
                <h5>परिवार का विवरण</h5>
                <div class="row gy-2">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="serial_1">क्रम संख्या</label>
                            <div class="form-control-wrap">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_name_1">परिवार के सदस्य का नाम</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="Name" name="Name" value="@Model.old_member_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_relation_1">संबंध</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Reference" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_dob_1">जन्मतिथि</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="Name" name="Name" value="@Model.age_proof" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_education_1">शैक्षणिक स्तर</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Educational_Level" required>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_occuption_1">व्यवसाय</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="Name" name="Name" value="@Model." required>
                            </div>
                        </div>*@
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_income_1">आय</label>
                            <div class="form-control-wrap">
                            <input type="text" class="form-control" id="Name" name="Name" value="@Model.age_proof" required>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="serial_2">क्रम संख्या</label>
                            <div class="form-control-wrap">
                            <input type="text" class="form-control" id="Name" name="Name" value="@Model.old_application_no" required>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_name_2">परिवार के सदस्य का नाम</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control required" id="family_member_name_2" name="family_member_name_2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_relation_2">संबंध</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control required" id="family_member_relation_2" name="family_member_relation_2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_dob_2">जन्मतिथि</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control required" id="family_member_dob_2" name="family_member_dob_2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_education_2">शैक्षणिक स्तर</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control required" id="family_member_education_2" name="family_member_education_2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_occuption_2">व्यवसाय</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control required" id="family_member_occuption_2" name="family_member_occuption_2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label style="font-size: 0.7rem !important;" class="form-label" for="family_member_income_2">आय</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control required" id="family_member_income_2" name="family_member_income_2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row gy-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Nominee">नामिनी का नाम</label>
                        <input asp-for="Nominee" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="Relation_with_Nominee">नामिनी का सदस्य से सम्बन्ध</label>
                        <input asp-for="Relation_with_Nominee" class="form-control" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row gy-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">Photo</label>
                        <input type="file" name="Photo" class="form-control required" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row gy-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-lg btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
