@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ShagunGraminHealth.Models.MembershipPlan>

<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="card card-preview">
                <div class="card-inner">
                    <div class="row justify-between g-2">
                        <div class="col-7 col-sm-6 text-left">
                            <div class="dataTables_filter">
                                <label>
                                    <input type="search" class="form-control form-control-sm" placeholder="Type in to Search">
                                </label>
                            </div>
                        </div>
                        <div class="col-5 col-sm-6 text-right">
                            <div class="datatable-filter">
                                <div class="dataTables_length">
                                    <label>
                                        <span class="d-none d-sm-inline-block">Show</span>
                                        <div class="form-control-select">
                                            <select class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-wrap my-3">
                        <table class="datatable-init nowrap table dataTable no-footer dtr-inline">
                            <thead>
                                <tr role="row">
                                    <th></th>
                                    <th>Id</th>
                                    <th>योजना संख्या</th>
                                    <th>योजना का नाम</th>
                                    <th>योजना शुल्क</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var plan in Model)
                                {
                                    <tr data-status="" role="row">
                                        <td class="dtr-control sorting_1" tabindex="0">
                                            <a href="@Url.Action("Apply", "MembershipPlan", new { id = plan.Id })">
                                                <span class="btn btn-primary">Apply Now</span>
                                            </a>
                                        </td>
                                        <td>@plan.Id</td>
                                        <td>@plan.PlanNumber</td>
                                        <td>@plan.PlanName</td>
                                        <td>@plan.PlanFee</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-7 col-sm-12 col-md-9">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled">
                                        <a href="#" class="page-link">Prev</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item next disabled">
                                        <a href="#" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-5 col-sm-12 col-md-3 text-left text-md-right">
                            <div class="dataTables_info" role="status" aria-live="polite">1 - @Model.Count() of @Model.Count()</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>