@model ShagunGraminHealth.Models.User

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="card card-preview">
                    <div class="card-inner">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <!-- Display user details in a table -->
                            <div class="datatable-wrap my-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Full Name</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Reference ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.Id</td>
                                            <td>@Model.Name</td>
                                            <td>@Model.Mobile</td>
                                            <td>@Model.Email</td>
                                            <td>@Model.Address</td>
                                            <td>@Model.ReferenceId</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
