@model IEnumerable<ShagunGraminHealth.ViewModel.WalletViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Wallet Details</h2>

<style>
    .payment-status-success {
        color: green;
    }

    .payment-status-default {
        color: blue;
    }
</style>
<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="card card-preview">
                <div class="card-inner">
                    <div class="datatable-wrap my-3">
                        <table class="datatable-init nowrap table dataTable no-footer dtr-inline">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalBalance)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TransactionCount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReferenceId)
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Bonus Payment
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalBalance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReferenceId)
                                        </td>

                                        <td class="@(item.Status == "Paid" ? "payment-status-success" : "payment-status-default")">
                                            @item.Status
                                        </td>
                                        <td class="dtr-control sorting_1" tabindex="0">
                                            <a href="/Admin/Member/RefundPayment?paymentId=@item.PaymentId&amp;orderId=@item.OrderId">
                                                <span class="btn btn-primary">Bonus Payment</span>
                                            </a>
                                        </td>


                                        @* <td class="dtr-control sorting_1" tabindex="0">

                                            <a href="/Admin/Member/RefundPayment?PaymentId=@item.PaymentId&amp;OrderId=@item.OrderId">
                                                <span class="btn btn-primary">Bonus Payment</span>
                                            </a>

                                        </td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>