@model IEnumerable<ShagunGraminHealth.ViewModel.WalletViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Wallet Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceId)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceId)
                </td>
                
            </tr>
        }
    </tbody>
</table>