@model IEnumerable<ShagunGraminHealth.Models.User>


@{
    Layout = "~/Areas/Candidate/Views/Shared/_Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="card card-preview">
                    <div class="card-inner">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                            <div class="datatable-wrap my-3">
                                <table class="datatable-init nowrap table dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row">
                                            <th cl
                                                sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Id: activate to sort column descending">Id</th>
                                            @*  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="USER ID: activate to sort column ascending">USER ID</th>
                                            *@
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="FULLNAME: activate to sort column ascending">FULLNAME</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="MOBILE: activate to sort column ascending">MOBILE</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="EMAIL: activate to sort column ascending">EMAIL</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ADDRESS: activate to sort column ascending">ADDRESS</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="REFERENCE ID: activate to sort column ascending">REFERENCE ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model)
                                        {
                                            <tr>
                                                <td>@user.Id</td>
                                                <td>@user.Name</td>
                                                <td>@user.Mobile</td>
                                                <td>@user.Email</td>
                                                <td>@user.Address</td>
                                                <td>@user.ReferenceId</td>




                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();
            $('#customSearch').on('keyup', function () {
                table.search(this.value).draw();
            });
        });

    </script>
